STOCKS_DATABASE_URL=postgresql://tulip:tulip@localhost:5432/stocks
BENCHMARK_DATABASE_URL=postgresql://tulip:tulip@localhost:5432/indicator_benchmark
BENCHMARK_LOG_TO_DB=1
BENCH_NUMBER=10
BENCH_REPEAT=30
BENCH_WARMUP=10
